body {
  background-color: #F08080;
}

h2 {
  font-family: monospace;
  text-align: center;
  font-size: 50px;
  color: #008080;
}

h4 {
  font-family: monospace;
  font-size: 20px;
  color: #F08080;
}

h5{
  font-size: 15px;
  text-align: center;
}

img{
  border-style: dotted;
  border-color: #8FBC8F;
  border-radius: 75%;
  text-align: center;
 }
